@import "../../variables/variables.scss";

.projectSection {
    height: 100%;
    background: #12263A;
    display: flex;
    padding-top: 15rem;

    .projectContainer {
        width: 80%;
        margin: auto;

        .projectSmallHeadingContainer {

            display: flex;
            align-items: center;

            .smallProjectHeading {
                margin: 0;
                color: $offWhite;
                font-size: 2rem;
            }

            .smallProjectHeadingLine {
                width: 10%;
                text-align: left;
                margin-left: 1.5rem;
                margin-right: auto;
            }
        }

        .bigProjectHeading {
            margin: 0;
            padding-top: 1rem;
            color: $offWhite;
            font-size: 5rem;
        }

        .projectItemsContainer {
            display: flex;
            flex-direction: column;

            .projectItems {
                margin: 8rem 0rem;

                .projectImageContainer {

                    width: 100%;

                    img {
                        width: 100%;
                        padding-top: 55px;
                    }
                }

                .projectTitle {
                    color: $offWhite;
                    font-size: 3rem;
                    margin-block-start: 0.5em;
                    margin-block-end: 0.5em;
                }

                .projectDescription {
                    color: $offWhite;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    font-weight: 400;
                }

                .projectLanguages {
                    color: $offWhite;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    font-weight: 400;
                }

                .projectButtonsContainer {
                    padding-top: 2rem;

                    a {
                        padding: 1rem 2rem;
                        background: $aquamarine;
                        color: #000;
                        text-decoration: none;
                        margin: 1rem;
                        font-size: 1.2rem;
                        border-radius: 0.4rem;
                        font-weight: 500;

                        &:hover{
                            background: $yellow;
                        }
                    }
                }
            }
        }
    }
}




@include media-md {
    .projectSection {
        padding-top: 10rem;
        height: 100%;
        .projectContainer {
            width: 70%;

            .projectItemsContainer {
                .projectItems {
                    display: flex;
                    flex-direction: row;
                    align-content: space-between;
                    justify-content: space-between;
                    margin: 4rem 0rem;

                    .projectImageContainer {

                        width: 50%;

                        img {
                            width: 100%;
                        }
                    }

                    .projectTitle {
                        margin-block-start: 0em;
                    }

                    .paragraph {
                        width: 50%;
                        padding: 0rem 5rem;
                    }
                }
            }
        }
    }
}