.heroContainer {
  height: 100vh;
  background: #50C878;
  position: relative;
}

.heroContainer .heroSection {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  /* #waveImage{
        background: $gray;
    }
    */
}

.heroContainer .heroSection .heroTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 75%;
}

.heroContainer .heroSection .heroTextContainer #heroTextAnimationHeading {
  color: black;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 3.8rem;
  margin: 0;
}

.heroContainer .heroSection .heroTextContainer #heroTextAnimationHeading::after {
  content: '';
  position: relative;
  width: 1px;
  right: -5px;
  height: 90%;
  border-right: 2px solid #7ae7c7;
  animation: blink 1s linear infinite;
}

.heroContainer .heroSection .heroTextContainer #heroTextHeadingTwo {
  color: #f4f4f9;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 2.3rem;
  margin: 0;
}

.heroContainer .heroSection .heroTextContainer .heroCtaBtnContainer {
  margin-top: 3rem;
}

.heroContainer .heroSection .heroTextContainer .heroCtaBtnContainer #heroCtaBtn {
  color: #f4f4f9;
  border: 0.1rem solid #7ae7c7;
  padding: 1.25rem 1.75rem;
  line-height: 1;
  font-size: 1rem;
  border-radius: 0.2rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
}

.heroContainer .heroSection .heroTextContainer .heroCtaBtnContainer #heroCtaBtn:hover, .heroContainer .heroSection .heroTextContainer .heroCtaBtnContainer #heroCtaBtn:focus {
  box-shadow: inset 0 -3.25em 0 0 #7ae7c7;
  color: #f4f4f9;
  transition: 0.35s;
  border-color: #7ae7c7;
  text-decoration: none;
}

.heroContainer .heroSection .heroImageLogo {
  width: 50%;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: 4rem;
}

.heroContainer .heroSection .heroImageLogo img {
  width: 100%;
}

.heroContainer .heroSection .waveContainer {
  position: absolute;
  bottom: -4px;
  width: 100%;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .heroContainer .heroSection {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 75%;
    height: 80vh;
  }
  .heroContainer .heroSection .heroTextContainer {
    width: 85% !important;
  }
  .heroContainer .heroSection .heroTextContainer #heroTextAnimationHeading {
    font-size: 4rem;
  }
  .heroContainer .heroSection .heroTextContainer #heroTextHeadingTwo {
    font-size: 4rem;
  }
  .heroContainer .heroSection .heroImageLogo {
    width: 35%;
    margin: 7rem auto 0 3rem;
  }
  .heroContainer .heroSection .heroImageLogo img {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .heroContainer .heroSection {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
  }
  .heroContainer .heroSection .heroTextContainer {
    width: 50% !important;
    height: 80vh;
  }
  .heroContainer .heroSection .heroTextContainer #heroTextAnimationHeading {
    font-size: 5.5rem;
  }
  .heroContainer .heroSection .heroTextContainer #heroTextHeadingTwo {
    font-size: 5.5rem;
  }
  .heroContainer .heroSection .heroImageLogo {
    width: 30%;
    margin: 7rem 0 0 0;
  }
  .heroContainer .heroSection .heroImageLogo img {
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  #heroCtaBtn {
    padding: 1rem 3rem;
  }
}
/*# sourceMappingURL=style.module.css.map */