html {
  scroll-behavior: smooth;
}

.header {
  padding: 1.5rem 0rem;
  background: #50C878;
}

.menuBtn {
  position: absolute;
  z-index: 999;
  right: 2rem;
  top: 3rem;
  height: 2rem;
  width: 2.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menuBtn .menuBtnBurger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 2.8rem;
  height: 0.3rem;
  background: black;
  transition: all 0.5s ease-in-out;
}

.menuBtn .menuBtnBurger::before {
  content: '';
  position: absolute;
  top: -0.8rem;
  width: 2.8rem;
  height: 0.3rem;
  background: #f4f4f9;
  transition: all 0.5s ease-in-out;
}

.menuBtn .menuBtnBurger::after {
  content: '';
  position: absolute;
  top: 0.8rem;
  width: 2rem;
  height: 0.3rem;
  background: #f4f4f9;
  transition: all 0.5s ease-in-out;
}

.menuBtn .menuBtnBurger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menuBtn .menuBtnBurger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menuBtn .menuBtnBurger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.navLogo img {
  width: 42px;
  height: 42px;
}

.navLogo {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  margin: 0rem 0rem 0rem 2rem;
  visibility: visible;
  z-index: 1;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  z-index: 1;
}

.nav.open {
  visibility: visible;
}

.nav .navItemsContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #102b3f;
  list-style: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  margin-top: 0;
  transition: all 0.5s ease-in-out;
}

.nav .navItemsContainer.open {
  transform: translateY(0);
}

.nav .navItemsContainer .item {
  transform: translateX(100vw);
  display: inline-block;
  padding: 1.5rem 0;
  transition: all 0.5s ease-in-out;
}

.nav .navItemsContainer .item.open {
  transform: translateX(0);
}

.nav .navItemsContainer .item:hover {
  color: #7ae7c7;
}

.nav .navItemsContainer .item a {
  font-weight: 300;
  color: #f4f4f9;
  text-transform: capitalize;
  font-size: 2rem;
  text-decoration: none;
}

.nav .navItemsContainer #resumeBtn {
  border: 0.15rem solid #7ae7c7;
  padding: 0.75rem 2rem;
  border-radius: 0.2rem;
}

.nav .navItemsContainer #resumeBtn::after {
  content: none;
  height: 0;
}

.nav .navItemsContainer #resumeBtn:hover, .nav .navItemsContainer #resumeBtn:focus {
  box-shadow: inset 0 -4.25em 0 0 #7ae7c7;
  color: #f4f4f9;
  transition: 0.35s;
  border-color: #7ae7c7;
  text-decoration: none;
}

.item:nth-child(1) {
  transition-delay: 0.25s;
}

.item:nth-child(2) {
  transition-delay: 0.35s;
}

.item:nth-child(3) {
  transition-delay: 0.45s;
}

.item:nth-child(4) {
  transition-delay: 0.55s;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
  .menuBtn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 2rem 4rem;
  }
  .nav .navLogo img {
    width: 42px;
    height: 42px;
  }
  .nav .navLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0rem;
  }
  .nav .navItemsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    transform: none;
    height: 100%;
    background: transparent;
    margin: 0;
  }
  .nav .navItemsContainer .item {
    transform: none;
    padding: 0rem 1.5rem;
    line-height: 1.3;
    letter-spacing: 0.1rem;
  }
  .nav .navItemsContainer .item:hover {
    text-decoration: none;
    color: #7ae7c7;
  }
  .nav .navItemsContainer .item:hover::after {
    width: 100%;
    transition: width .3s;
  }
  .nav .navItemsContainer .item::after {
    content: '';
    display: block;
    width: 0px;
    height: 0.15rem;
    background: #7ae7c7;
    transition: width .3s;
  }
  .nav .navItemsContainer .item a {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.module.css.map */